
.main-container{
    font-family: "roboto";
}


.wiki-logo{
    height: 100px;
    width: 100px;
    margin: 10px;
}

.search-input{
    margin: 10px;
    font-size: 35px;
    border-width: 2px;
    border-color: #d5d5d5;
    border-radius: 10px;

}

.search-result{
    width: 100%;
    padding-left: 20px;
}

.result-item {
    margin-bottom: 20px;
    font-size: 30px;
}

.result-title {
    font-size: 50px;
}

.result-url {
    color: aua;
}

